@charset "UTF-8";

// 全域的修改-----START

body {
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: 50px;
    /* 兼容不支持 env( ) 的设备  */
    padding-bottom: env(safe-area-inset-bottom);
    /* 在 iphone x + 中本句才会生效 */
    padding-left: env(safe-area-inset-left);
    min-height: 100vh;
    background-color: #F7F7DC;
}

.button {

    &.is-text {
        text-decoration: none;

        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused {
            color: $primary;
            background-color: transparent;
        }
    }
}

// 全域的修改-----END

.navbar {
    max-height: 50px;
    background-color: rgba(#F7F7DC, 0.8);


    .navbar-brand {
        max-height: 50px;
        margin: 0 auto;
        text-align: center;
    }

    .navbar-end {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.form {
    .buttons {
        margin-top: $gap/2;
    }
}

.fixed-title {
    .title {
        font-size: 2rem;
        margin-bottom: $gap/2;
    }

    .subtitle {
        font-size: 1rem;
    }
}

// 加入斷點
@include mobile {
    .navbar {
        backdrop-filter: blur(2px);
    }

    main {
        width: 100%;
        overflow-x: hidden;
        position: relative;
    }

    .main-pic {
        position: absolute;
        top: 208px;
        opacity: 0.9;
        z-index: 0;
        width: 100%;
        max-width: 120%;
        object-fit: cover;
        object-position: center top;
        height: calc(100vh - 208px);
    }

    .fixed-title {
        margin-top: 84px;
        margin-bottom: 24px;
        margin-left: $gap/2;
        margin-right: $gap/2;
    }

    .form {
        position: relative;
        background-color: white;
        padding: $gap/2;
        margin: $gap/2;
        margin-top: calc(90vh - 300px);
        margin-bottom: 20vh;
    }
}

@include tablet-only {
    .login-box {
        top: 150px;
    }
    .main-pic {
        width: 50%;
        max-width: 100%;
        object-fit: cover;
        object-position: left top;
        height: 50vh;
        right: 0;
        top: 150px;
    }

}

@include tablet {
    main {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .navbar {
        min-height: 80px;
        >.container {
            min-height: 80px;
        }
        .navbar-brand {
            min-height: 80px;
        }
        .navbar-end {
            right: $gap;
        }
    }
    .container {
        max-width: 1024px + ($gap*2);
        padding-left: $gap;
        padding-right: $gap;
    }

    .login-box {
        position: relative;
        width: 40%;
        left: $gap;
    }

    .main-pic {
        position: absolute;
        width: 50%;
    }
}




@include desktop {
    .navbar {
        background-color: transparent;
    }

    body {
        background-color: transparent;
    }

    main {
        position: relative;
        background-image: url("/img/img_bg.svg");
        background-position: top right;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 100vw;
        overflow: hidden;
    }

    .login-box {
        max-width: $desktop/2;
        position: absolute;
        bottom: 15%;
        margin-left: $gap;
        top: auto;
        left: calc(50% - #{$desktop}/2);

        .form {
            max-width: 380px;
            // padding: 48px;
            // background-color: rgba($white, .8);
            // backdrop-filter: blur(10px);
        }

    }

    .fixed-title {
        margin-bottom: 24px;

        h2.title {
            font-size: 4rem;
            margin-bottom: 36px;
        }
    }

    .main-pic {
        right: 0;
        width: 45%;
    }
}

@include widescreen {
    .main-pic {
        top: 100px;
    }
    .login-box {
        margin-left: 0;
    }
}


@include fullhd {
    .main-pic {
        bottom: calc(50vh - 460px);
    }

    .login-box {
        bottom: calc(50vh - 200px);
        margin-left: 0;
    }
}